.carousel {
    background: linear-gradient(90deg, var(--redDark) 40%, var(--redLight));
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel img {
    height: 40vh;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 50%;
    outline: auto;
    margin: 10px auto;
    display: block;
}