@import url('https://fonts.cdnfonts.com/css/primer-preschoolers');

:root {
    --grayDark: rgb(63, 63, 63);
    --blackLight: #242424;
    --yellowLight: #FFFF30;
    --yellowDark: #737316;
    --redLight: #FF3030;
    --redDark: #731616;
}

body {
    background-color: var(--blackLight);
    font-family: 'Primer Preschoolers', sans-serif;
}